body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 640px;
  padding: 0;
  margin: 0;

  li {
    font-size: 3rem;
    width: 20%;
    text-align: center;
    color: #666;
    i {
      cursor: pointer;
      &:hover {
        -webkit-filter: brightness(170%);
                filter: brightness(170%);
      }
    }
  }
}

.pause-screen {
  width: 648px;
  height: 648px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

.flash {
  font-size: 6rem;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-animation: flash 3s ease infinite;
          animation: flash 3s ease infinite;
}

@-webkit-keyframes flash {
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes flash {
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.mov {
  width: 640px;
  height: 640px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 40%;
     object-position: center 40%;
  border: 4px solid #666;
}